#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <div class="ui grid">
    <div class="ui middle aligned eight wide column">
      <h1 class="ui header">
        BMI Tracker
      </h1>
      <p>
        Fill in your assessments week by week and track your BMI.  Trainers will comment on your progress and
        encourage your to keep going!
      </p>
    </div>
    <div class="ui eight wide column">
      <img class="ui image" src="/public/images/login.jpg">
    </div>
  </div>
</section>
